<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Questionnaire Foo</title>

    <link href="/assets/application.css" rel="stylesheet">
    <script src="/jquery.min.js"></script> <!-- jquery 1.7.2 -->
    <script src="/jquery-ui.min.js"></script> <!-- jqueryui 1.8.18 -->
    <script src="/assets/application.js"></script>
  </head>

  <body>

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar">&nbsp;</span>
            <span class="icon-bar">&nbsp;</span>
            <span class="icon-bar">&nbsp;</span>
          </a>
          <a class="brand" href="/">Questionnaire Foo</a>
          <div class="nav-collapse">
            <ul class="nav">
              <li class="active"><a href="#">&nbsp;</a></li>
              <li><a href="#about">&nbsp;</a></li>
              <li><a href="#contact">&nbsp;</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div id="main">
      <%= yield %>
    </div>

    <footer class="well small">
      Questionaire Foo - © 2012 Luigi Maselli <a href="http://grigio.org">http://grigio.org</a>
    </footer>
  </body>
</html>
