<div class="control-group radio-question">
  <label for="question-4" class="control-label">Question 4</label>
  <div class="controls">
    <label class="radio inline">
      <input type="radio" value="option1" name="question-4_option1">
      Option 1
    </label>
    <label class="radio inline">
      <input type="radio" value="option2" name="question-4_option2">
      Option 2
    </label>
  </div>
</div>