<div class="control-group text-area-question">
  <label for="question-3" class="control-label">Question 3</label>
  <div class="controls">
    <textarea rows="3" id="question-3" class="input-xlarge"></textarea>
  </div>
</div>