<h1>New Questionnaire <small>for Hand Blenders through Kelkoo UK (KUK)</small></h1>

<div class="container-fluid">
  <form method="post" action="/questionnaire">
    <div class="row-fluid">
      <div id="questionnaire-pane" class="span8 well form-horizontal">
        <h3>This is a questionnaire</h3>
        <p>Your review will help others. Woo!</p>
    
        <fieldset>
          <legend>Section 1</legend>
          <p>Informative text about this section goes here.</p>
        </fieldset>
      </div>
    
      <div id="builder-pane" class="span4 well">
        <h3>Things to put in the questionnaire:</h3>
        <p class="draggable" id="section">New section</p>
        <p class="draggable" id="text">New copy text</p>
        <p class="draggable" id="score-question">New score question</p>
        <p class="draggable" id="text-box-question">New text question</p>
        <p class="draggable" id="text-area-question">New text area question</p>
        <p class="draggable" id="radio-question">New multiple choice question</p>
        <button class="btn btn-primary btn-large" type="submit">Save</button>
      </div>
    </div>
  </form>
</div>