<span class="close button" data-remove="question">×</span>
<label for="question-{{id}}" class="control-label editable">{{text}}</label>
<div class="controls">
  <label class="radio inline">
    <input type="radio" value="option1" name="question-{{id}}_option1">
    Option 1
  </label>
  <label class="radio inline">
    <input type="radio" value="option2" name="question-{{id}}_option2">
    Option 2
  </label>
</div>
