<div class="control-group text-box-question" id="question-{{id}}-container">
  <label for="question-{{id}}" class="control-label">{{text}}</label>
  <div class="controls">
    <input type="text" name="question-{{id}}" class="input"></input>
  </div>
</div>