<span class="close button" data-remove="question">×</span>
<label for="question-{{id}}" class="control-label editable">{{text}}</label>
<div class="controls">
  <textarea rows="3" name="question-{{id}}" id="question-{{id}}" class="input-xlarge"></textarea>
</div>
