<div class="control-group text-area-question">
  <label for="question-{{id}}" class="control-label">{{text}}</label>
  <div class="controls">
    <textarea rows="3" id="question-{{id}}" class="input-xlarge"></textarea>
  </div>
</div>